@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400;600&display=swap");
@import-normalize;

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 5%);
  --gray: hsl(0, 0%, 95%);
  --orange: hsl(39, 82%, 71%);
  --yellow: hsl(45, 83%, 71%);
  --beige: hsl(50, 61%, 87%);
  --purple: hsl(240deg 36% 22%);
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Red Hat Mono", monospace;
}

input,
button {
  outline: none;
}

input:not([type="radio"]):not([type="checkbox"]) {
  border: 1px solid;
  width: 100%;
  padding: 8px;
}

button {
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.App {
  min-height: 200px;
}
